@import 'globals';
/* User resources styles */

#encounter-table {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr 5fr 2fr;
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
}

#encounter-table-title {
    grid-row: 1;
    grid-column: 1 / 3;
    color: $borderBold;
    background-color: $highlightColor;
}

.encounter-table-switch {
    display: flex;
    grid-column: 3 / 5;
    margin-left: 10px;
}

.encounter-id {
    display: flex;
    grid-column: 1;
    justify-content: center;
    border: 1px solid $highlightColor;
}

.encounter-name {
    display: flex;
    grid-column: 2 / 4;
    justify-content: center;
    border: 1px solid $highlightColor;
}

.encounter-delete-button {
    display: flex;
    grid-column: 4;
    justify-content: center;
    border: 1px solid $highlightColor;
}

.encounter-new-button {
    display: flex;
    grid-column: 3 / 5;
    justify-content: center;
    color: $borderBold !important;
    background-color: $highlightColor;
    border: 1px solid $highlightColor;
}
